<MudDialog>
    <DialogContent>
        <div>
            @if (CinemaRoomSeatResponses == null && CinemaRoomSeatResponses.Count > 0)
            {

            }
            else
            {

                <MudStack>
                    @foreach (var item in CinemaRoomSeatResponses.OrderBy(c => c.RowNumber))
                    {
                        <MudStack Row="true" Justify="Justify.Center" AlignItems="AlignItems.Center">
                            @for (int i = 0; i < item.TotalRowSeatNumber; i++)
                            {
                                if (IsSeatTaken())
                                {
                                    <MudButton Size="Size.Medium" Disabled="@IsDisabledButtonList[currentSeat]" OnClick="@(() => OnClick(SeatNumber(item.RowNumber, i)))">
                                        <MudIcon Icon="@Icons.Material.Filled.EventSeat" Color="@Color.Transparent" />
                                    </MudButton>
                                }
                                else
                                {
                                    <MudButton Size="Size.Medium" Disabled="@IsDisabledButtonList[currentSeat]">
                                        <MudIcon Icon="@Icons.Material.Filled.EventSeat" Color="@Color.Dark" />
                                    </MudButton>
                                }

                            }
                        </MudStack>
                    }
                </MudStack>
            }
        </div>
    </DialogContent>
    <DialogActions>
        
    </DialogActions>
</MudDialog>


