﻿<MudAppBar Color="Color.Secondary" Fixed="false" Elevation="0">
    <h2>@Localizer["Navbar_Title"]</h2>
    <MudSpacer />
    <MudStack AlignItems="AlignItems.Center" Row="true">
        <MudNavLink Ripple="true" Style="margin-left:unset!important;" Href="@GetLink(Localizer["Navbar_Item1"])">@Localizer["Navbar_Item1"]</MudNavLink>
        <MudNavLink Ripple="true" Style="margin-left:unset!important;" Href="@GetLink(Localizer["Navbar_Item2"])">@Localizer["Navbar_Item2"]</MudNavLink>
        <MudNavLink Ripple="true" Style="margin-left:unset!important;" Href="@GetLink(Localizer["Navbar_Item3"])">@Localizer["Navbar_Item3"]</MudNavLink>
    </MudStack>
</MudAppBar>

