@page "/seat/{CinemaRoomId:guid}"


<PageTitle>@Localizer["SeatSelecter_Title"]</PageTitle>

<div>
    @if (CinemaRoomSeatResponses == null && CinemaRoomSeatResponses.Count > 0)
    {

    }
    else
    {

        <MudStack>
            @foreach (var item in CinemaRoomSeatResponses.OrderBy(c => c.RowNumber))
            {
                <MudStack Row="true" Justify="Justify.Center" AlignItems="AlignItems.Center">
                    @for (int i = 0; i < item.TotalRowSeatNumber; i++)
                    {
                        if (IsSeatTaken(SeatNumber(item.RowNumber, i)))
                        {
                            <MudButton Size="Size.Medium" Disabled="@IsDisabledButtonList[SeatNumber(item.RowNumber, i)]" OnClick="@(() => OnClick(SeatNumber(item.RowNumber, i)))">
                                <MudIcon Icon="@Icons.Material.Filled.EventSeat" Color="@ColorButtonList[SeatNumber(item.RowNumber, i)]" />
                            </MudButton>
                        }
                        else
                        {
                            <MudButton Size="Size.Medium" Disabled="@IsDisabledButtonList[currentSeat]">
                                <MudIcon Icon="@Icons.Material.Filled.EventSeat" Color="@ColorButtonList[SeatNumber(item.RowNumber, i)]" />
                            </MudButton>
                        }

                    }
                </MudStack>
            }
        </MudStack>
    }
</div>

